- @images.each_with_index do |images_list, i|
  - images_list.each do |img_data|
    = image_tag "/pics/#{img_data.pic}", class: img_data.klass

  %hr

  - if i % 2 == 1
    .pagebreak

.footer
  %span.footer-element
    = @name if @name

  %span.footer-element
    - if @total && @squadron_ratio
      = "#{@total} pts, squads #{@squadron_ratio}%"

  %span.footer-element
    Printed with https://armada-print.ieroe.com

